<footer>
    <!-- <div>
        <p>Thanks for reading!</p>
        <span>© 2020-present Chloe Murdock. All Rights Reserved.</span>
    </div>
    <nav>
        <a href="/" class="selected">Work</a>
        <a href="/about">About</a>
        <a href="/resources">Resources</a>
        <a href="/resume">Resume</a>
        <a href="/podcast">Podcast</a>
        </nav> -->
        <div class="row">
            <div class="col col--one-half">
                <p>{{site.footerText}}</p>
                <span>© 2020-present Chloe Murdock. All Rights Reserved.</span>
            </div>
            <div class="col col--one-half">
                <nav>
                    <a href="/" class="selected whiteText">Work</a>
                    <a href="/about" class="whiteText">About</a>
                    <a href="/resources" class="whiteText">Resources</a>
                    <a href="/resume" class="whiteText">Resume</a>
                    <a href="/podcast" class="whiteText">Podcast</a>
                </nav>
            </div>
        </div>
</footer>
<script src="/assets/scripts/main.js"></script>