<div>
  <div style="display: flex; -webkit-box-align: center; justify-content: space-evenly;">
    <a class='' href='{{ paginator.previous_page_path | prepend: site.baseurl }}'>
      <span style="padding: 15px; display: inline-block;">{% if paginator.previous_page %}❮ Previous page{% endif %}</span>
    </a>
  
    <a class='' href='{{ paginator.next_page_path | prepend: site.baseurl }}'>
      <span style="padding: 15px; display: inline-block;">{% if paginator.next_page %}Next page ❯{% endif %}</span>
    </a>
  </div>
</div>