<script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@graph":
      [
        {
          "@context": "https://schema.org/",
          "@type": "WebPage",
          "name": "Chloe Murdock",
          "url": "{{page.url | prepend: site.url }}"
        },
        {
            "@context":"http://schema.org",
            "@type":"Person",
            "familyName":"Murdock",
            "givenName":"Chloe",
            "url":"https://chloemurdok.com",
            "email":"ssadr@gmail.com",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Columbus",
                "addressRegion": "Ohio",
                "postalCode": "43035",
                "addressCountry": "USA"
                },
            "description":"Chloe Murdock",
                "sameAs": [
                "https://twitter.com/chloeannmurdock"
            ]
        },
        {
          "@context": "http://www.schema.org",
          "@type": "WebSite",
          "name": "Chloe Murdock",
          "url": "chloemurdock.com"
        }
      ]
    }
  </script>
  