<div class="content">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="articleitem">
      {% if post.image and post.image != ''%}
      <img
        style="border-radius: 8px;"
        src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
        data-src="{{ post.image }}"
        alt="{{ post.image }}"
      />
      <!-- <img src="{{ post.image }}" alt="{{ post.image }}" /> -->
      {% else %}
      <img
        style="background-image: linear-gradient(120deg, #ff9a9e 0%, #fad0c4 100%); border-radius: 8px;"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="background"
      />
      {% endif %}
      <div class="articleinfo">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content | strip_html | truncatewords:25 }}</p>
        <span class="articledate">{{ post.date | date: "%B %-d, %Y" }}</span>
      </div>
    </div>
  </a>
</div>
